@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
@media (prefers-color-scheme: dark) {
  :root {
    /* Accent */
    --gnome-accent-bg: var(--gnome-palette-blue-3);
    --gnome-accent: #dcc3f9;

    --gnome-toolbar-star-button: var(--gnome-palette-yellow-1);

    /* Window */
    --gnome-window-background: #05080a;
    --gnome-window-color: white;
    --gnome-view-background: #05080a;
    --gnome-sidebar-background: #05080a;
    --gnome-secondary-sidebar-background: #05080a;

    /* Card */
    --gnome-card-background: rgba(5, 8, 10, 1);
    --gnome-card-shade-color: color-mix(in srgb, black 36%, transparent);

    /* Menu */
    --gnome-menu-background: #05080a;

    /* Header bar */
    --gnome-headerbar-background: #05080a;
    --gnome-headerbar-shade-color: rgba(5, 8, 10, 1);

    /* Toolbars */
    --gnome-toolbar-icon-fill: #eeeeec;

    /* Tabs */
    --gnome-tabbar-tab-hover-background: #0a1014; /* Hardcoded color */
    --gnome-tabbar-tab-active-background: #0a1014; /* Hardcoded color */
    --gnome-tabbar-tab-active-background-contrast: #0a1014; /* Hardcoded color */
    --gnome-tabbar-tab-active-hover-background: #0a1014; /* Hardcoded color */

    --gnome-tabbar-identity-color-green: var(--gnome-palette-green-1);
    --gnome-tabbar-identity-color-yellow: var(--gnome-palette-yellow-2);
    --gnome-tabbar-identity-color-orange: var(--gnome-palette-orange-3);
    --gnome-tabbar-identity-color-red: var(--gnome-palette-red-1);
    --gnome-tabbar-identity-color-purple: var(--gnome-palette-purple-1);

    /* Text color for Firefox Logo in new private tab */
    --gnome-private-wordmark: #dce2f7;
    /* New private tab background */
    --gnome-private-in-content-page-background: #05080a;
    /* Private browsing info box */
    --gnome-private-text-primary-color: #dce2f7;
  }

  /* Backdrop colors */
  :root:-moz-window-inactive {
    --gnome-tabbar-tab-hover-background: #05080a; /* Hardcoded color */
    --gnome-tabbar-tab-active-background: #05080a; /* Hardcoded color */
  }

  /* Private colors */
  :root[privatebrowsingmode="temporary"] {
    --gnome-accent-fg: #dcc3f9;
    /* Headerbar */
    --gnome-headerbar-background: #05080a !important;
    /* Tabs */
    --gnome-tabbar-tab-hover-background: #0a1014; /* Hardcoded color */
    --gnome-tabbar-tab-active-background: #0a1014; /* Hardcoded color */
    --gnome-tabbar-tab-active-background-contrast: #0a1014; /* Hardcoded color */
    --gnome-tabbar-tab-active-hover-background: #0a1014; /* Hardcoded color */
  }

  /* Private and backdrop colors */
  :root[privatebrowsingmode="temporary"]:-moz-window-inactive {
    --gnome-headerbar-background: #0a1014 !important;
    --gnome-tabbar-tab-hover-background: #0a1014; /* Hardcoded color */
    --gnome-tabbar-tab-active-background: #0a1014; /* Hardcoded color */
  }
}

